html { scroll-behavior: smooth ; }
body{
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}
nav {
  z-index: 9;
  position: fixed;
    background-color:#0f172a;
  
    height: 80px;
    width: 100%;
   
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
 }
 nav ul li{
     display: inline-block;
     margin-right: 20px;
 }
 nav ul li a{
     font-size: 20px;
 color:#59DFD0;

 text-decoration: none ;
 
 }
 nav ul :hover{
  
  text-decoration: none !important;
 
}
.navTitle{
  font-size: 100%;
 color: aliceblue;
   font-weight: bold;
   line-height: 80px;

  margin-left: 20px;
  text-decoration: none;

}
 .burgerbutton{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;


}
 #check{
    display: none;

}
 @media(max-width: 800px)
{.burgerbutton{
    display: block;
}
nav ul{
    position: fixed;
    width: 100%;
    background-color: rgba(137, 136, 136, 0.692);
    height: 100vh;
    text-align: center;
    top: 60px;
    left: -120%;
    transition: all 1s;
}
nav ul li {
    display: block;
    padding: 30px 0;
}
nav ul li {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}
#para{
  background-color: #0f172a61;
}
#check:checked ~ul{
    left: 0;
}

}
.active  {
   
   text-decoration: underline 2px solid teal;
 
  }
  .active,a #header {
   
    text-decoration: underline 2px solid aliceblue ;
  
   }
 .heading{
  font-size: 150px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 100px;
    margin-left: 50px;
 }
#spacing{
  margin: 0px;
padding-top: 100px;
text-align: center;
}
  /*testout 
  
  body{
   /* background-color: rgba(11, 63, 81, 0.3);
    background:  linear-gradient(141deg, #0F172A 0%, #16213d 51%, #1d2b50 75%);;*//*
  }*/
  
  .top{ text-decoration: none;
    float: right;
    color: aliceblue;
    font-size: 100px;
    padding: 20px;
    margin: 10px;
  }
  .displaySection{    
 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .container{
    margin: 100px;
  }
  .textOne{
    color:aliceblue;
    font-size: 3rem;
    margin: 20px;
  }
 .textTwo{ color: aliceblue;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  .textThree{ padding: 50px;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .textContainer{
     display: flex;
  }
  .textContainer .textBox{
    color: aliceblue;
    margin: 20px;
    padding: 20px;
    background: #00a0a949;
    border-radius: 5px;
  }
   .textContainer .textBox h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  @media (max-width: 900px){
    section h1{
      font-size: 2rem;
      text-align: center;
    }
    section .textContainer{
      flex-direction: column;
    }
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.activePara{
    transform: translateY(0);
    opacity: 1;
  }
  #styleImg{
    width: 60%;
   
    margin: 20px;
    text-align: center;
  }
  a{
    text-decoration: none;
    color: aliceblue;
  }
  a:hover{
    text-decoration: 2px underline;
 
  }
  a .top :hover{
    text-decoration: none !important;
  }
  .top {
    text-decoration: none !important;
  }
  #styleImg2{
    width: 90%;
   
    margin: 20px;
    text-align: center;
  }
  