html { scroll-behavior: smooth ; }
body{
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding: 0;
   margin: 0;
}
nav {
  z-index: 9;
  position: fixed;
    background-color:#0f172a;
  
    height: 80px;
    width: 100%;
   
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
 }
 nav ul li{
     display: inline-block;
     margin-right: 20px;
 }
 nav ul li a{
     font-size: 20px;
 color:#59DFD0;

 text-decoration: none ;
 
 }
 nav ul :hover{
  
  text-decoration: none !important;
 
}
.navTitle{
  font-size: 100%;
 color: aliceblue;
   font-weight: bold;
   line-height: 80px;

  margin-left: 20px;
  text-decoration: none;

}
 .burgerbutton{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;


}
 #check{
    display: none;

}
 @media(max-width: 800px)
{.burgerbutton{
    display: block;
}
nav ul{
    position: fixed;
    width: 100%;
    background-color: rgba(137, 136, 136, 0.692);
    height: 100vh;
    text-align: center;
    top: 60px;
    left: -120%;
    transition: all 1s;
}
nav ul li {
    display: block;
    padding: 30px 0;
}
nav ul li {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}
#para{
  background-color: #0f172a61;
}
#check:checked ~ul{
    left: 0;
}

}
.active  {
   
   text-decoration: underline 2px solid teal;
 
  }
  .active,a #header {
   
    text-decoration: underline 2px solid aliceblue ;
  
   }
 .heading{
  font-size: 150px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 100px;
    margin-left: 50px;
 }
#spacing{
  margin: 0px;
padding-top: 100px;
text-align: center;
}
footer{ text-align: center;
background-color: #0f172a;
  color: #fff;

  bottom: 0;
  width: 100%;height: 80px;
margin-bottom: 0;

}
  /*testout 
  
  body{
   /* background-color: rgba(11, 63, 81, 0.3);
    background:  linear-gradient(141deg, #0F172A 0%, #16213d 51%, #1d2b50 75%);;*//*
  }*/
  
  .top{ text-decoration: none;

    color: aliceblue;
    font-size: 100px;
   align-items: center;
padding-right: 80%;

  }
  
  .displaySection{    
 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .container{
    margin: 100px;
  }
  .textOne{
    color:aliceblue;
    font-size: 3rem;
    padding: 2%;
  }
 .textTwo{ color: aliceblue;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

  }
  .textThree{  
    font-weight: lighter;
    
    padding: 1%;
    color: aliceblue;
    font-size:25px;
    text-align: center;
    text-transform: uppercase;  font-family: 'Lucida Calligraphy', cursive;
  }
  .textFour{
    font-weight: lighter;
    
    padding: 1%;
    color: aliceblue;
  
    
 font-size: 20px;
  }
  .load{
    font-weight: bold;
    
    padding: 1%;
    color: aliceblue;
  
    
 font-size: 30px;
  }
  .textContainer{
     display: flex;
  }
  .textContainer .textBox{
    color: aliceblue;
    margin: 20px;
    padding: 20px;
    background: #00a0a949;
    border-radius: 5px;
    border: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  
  border-image-slice: 1;
  border-width: 3px;
  }
  
   .textContainer .textBox h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  @media (max-width: 900px){
    section h1{
      font-size: 2rem;
      text-align: center;
    }
    section .textContainer{
      flex-direction: column;
    }
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.activePara{
    transform: translateY(0);
    opacity: 1;
  }
  #styleImg{
    width: 60%;
   
    margin: 20px;
    text-align: center;
  }
  a{
    text-decoration: none;
    color: aliceblue;
  }
  a:hover{
    text-decoration: 2px underline;
 
  }
  a .top :hover{
    text-decoration: none !important;
  }
  .top {
    text-decoration: none !important;
  }
  #imgg{
    width: 90%;
   
    margin: 20px;
    text-align: center;
  }

#button{ float: right;
  padding: 50px;
}
  

  .container{
    font-family: "arial";
    font-size: 24px;
    display: grid;
    place-items: center;
    width: 350px;
  }
  
  .typed {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 2s steps(30, end) forwards, blinking 1s infinite;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: black}
    100% {border-color: transparent}
  }
  .footer{
   
    font-size: 10px;
padding-top: 10px;
  }


  #startButton {   background: #00a0a949;
    border-radius: 5px;
    border: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  transition:  0.2s ;
  border-image-slice: 1;
  border-width: 3px;
    padding: 10px 20px;
    font-size: 16px;
    color: aliceblue;
}

.startButton {   background: #00a0a949;
  border-radius: 10px;
  border: 3px solid;
border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
transition:  0.1s ;
border-image-slice: 1;
border-width: 3px;
  padding: 5px 10px;
  font-size: 16px;
  color: aliceblue;


}.startButton2 {   background: #00a0a949;
  border-radius: 10px;
  border: 3px solid;
border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
transition:  0.1s ;
border-image-slice: 1;
border-width: 3px;
  padding: 5px 10px;
  font-size: 16px;
  color: aliceblue;
text-align: center;

}
.btns{
  text-align: center;
}
#startButton:hover{
  border-width: 6px;
}.startButton:hover{

  border-width: 6px;
}.startButton2:hover{

  border-width: 6px;
}
#counter {
    font-size: 48px;
    margin-top: 20px;
}
.axisc text{
fill: aliceblue !important;
}.axisc line{
stroke: aliceblue !important;
}
.axisc path{
  stroke: aliceblue !important;
}
.inner-circle {
  fill: rgb(133, 68, 158);
  animation: pulse 3.5s infinite alternate;
}

@keyframes pulse {
  0% {
    r: 90;
    fill: rgb(5, 0, 154);
  }
  50% {
    r: 50;
    fill: rgb(221, 221, 103);
  }
  100% {
    r: 0;
    fill: rgb(101, 97, 97);
  }
  100% {
    r: 10;
    fill: rgb(171, 23, 23);
  }
}
#my_dataviz{
 text-align: center;
}